<div class="product-card" (click)="navigateToDetailPage()">
  <img [src]="imageUrl" alt="{{ title }}" class="product-image" />
  <div class="product-info">
    <div class="product-header">
      <h3>{{ title }}</h3>
      <span class="price">€{{ price | number: '1.2-2' }}</span>
    </div>
    <div class="product-details">
      <div class="detail"
      matTooltip="Diameter"
      matTooltipShowDelay="500">
        <i class="icon-size"></i>
        <span><b>Ø</b> {{ size }}</span>
      </div>
      <div class="detail"
      matTooltip="Hoogte in centimeter"
      matTooltipShowDelay="500">
        <i class="icon-height"></i>
        <span><fa-icon [icon]="faHeight"></fa-icon> {{ height }}mm</span>
      </div>
    </div>
  </div>
</div>
