<div class="filterBar">
  <div class="filterOption">
    <input type="text" placeholder="Zoekterm" [(ngModel)]="textQuery">
  </div>
  <div class="filterOption">
    <label>Hoogte (Min)</label>
    <input type="number" [(ngModel)]="minHeight" placeholder="Min hoogte">
  </div>

  <div class="filterOption">
    <label>Hoogte (Max)</label>
    <input type="number" [(ngModel)]="maxHeight" placeholder="Max hoogte">
  </div>

  <div class="filterOption">
    <label>Diameter (Min)</label>
    <input type="number" [(ngModel)]="minDiameter" placeholder="Min diameter">
  </div>

  <div class="filterOption">
    <label>Diameter (Max)</label>
    <input type="number" [(ngModel)]="maxDiameter" placeholder="Max diameter">
  </div>
  <div class="filterOption">
    <label>Standplaats</label>
    <select [(ngModel)]="StandingPlace" multiple>
      <option *ngFor="let place of standingPlaceEnumKeys" [value]="place">{{ place }}</option>
    </select>
  </div>
  <button (click)="search()">Zoeken</button>
</div>


<div class="product-grid">
  <app-product-item-card
    *ngFor="let product of products"
    [imageUrl]="product.photoUrl"
    [title]="product.name"
    [price]="product.price"
    [size]="product.diameter"
    [height]="product.height"
    [waterLevel]="product.wateringNeeds"
    [maintenanceLevel]="product.standingPlace"
    [productId]="product.id"
   />
</div>

<div #scrollAnchor></div>
