<div class="hero">
  <div class="header">
    <div class="hero-text">
      Kwekerij Annie
    </div>
  </div>
</div>
<div class="divider"></div>

<div class="product-grid">
  <app-product-item-card
    *ngFor="let product of products"
    [imageUrl]="product.photoUrl"
    [title]="product.name"
    [price]="product.price"
    [size]="product.diameter"
    [height]="product.height"
    [waterLevel]="product.wateringNeeds"
    [maintenanceLevel]="product.standingPlace"
  >
  </app-product-item-card>
</div>

<div #scrollAnchor></div> <!-- For infinite scrolling trigger -->
